<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.first90.qa.testcases.SignInPageTest"/>
      <class name="com.first90.qa.testcases.CreateUserTest"/>
	  <class name="com.first90.qa.testcases.EnterUserDetailsTest"/>
      <class name="com.first90.qa.testcases.UserListTest"/>
      <class name="com.first90.qa.testcases.CreateClientTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
